<mat-card class="card-container">
    <mat-card-title><b>Blogs</b></mat-card-title><br/>
    <mat-card-subtitle class="ntline">Home > Blogs</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>
        CGTMSME Loan
    </mat-card-title><br/>
    <mat-card-subtitle>
        Credit Guarantee Fund Trust for Micro and Small Enterprises (CGTMSE) is jointly set up by Ministry of Micro, Small & Medium Enterprises (MSME), Government of India and Small Industries Development Bank of India (SIDBI) to catalyse flow of institutional credit to Micro & Small Enterprises (MSEs). Credit Guarantee Scheme (CGS) was launched to strengthen credit delivery system and to facilitate flow of credit to the MSE sector, create access to finance for unserved, under-served and underprivileged, making availability of finance from conventional lenders to new generation entrepreneurs. Over the past 20 years, CGTMSE has been instrumental in providing guarantee cover to collateral and/or third party guarantee free credit facilities extended by eligible Member Lending Institution [MLIs] to MSEs.
<p>
During Financial Year 2020-21, a total number of 8.36 lakh guarantees have been approved for an amount of Rs. 36,954 crore (CGSI+NBFC+CGSSD). In addition to above, CGTMSE has also been running a special scheme of MoHUA namely "PM SVANidhi" where a total of 14.38 lakh guarantees have been approved for an amount of Rs.1,435 crore. Accordingly, total approval during the year was Rs 38,389 crore. Further, cumulatively, as on March 31, 2021, a total of over 51.4 lakh accounts have been accorded guarantee approval for Rs.2.59 lakh crore (CGSI+NBFC+CGSSD). (Excluding PMSVANidhi approved guarantee of 14.38 lakh amounting to Rs.1,435 crore).
<p>
With increased and dedicated focus on MSE lending, CGTMSE has undergone transformative reforms since 2017 to expand the scope of its schemes to uncovered segments like Partial collateralized loans, Retail Trade and amongst uncovered lenders like NBFCs and Small Finance Banks and Scheduled Co-Operative Bank. CGTMSE has leveraged technology to achieve this scale and the entire operations are carried out online including NPA marking and claim settlements. It’s the trust constant endeavour to keep its technology upgraded for enhanced efficiency and better customer services and satisfaction
    </mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>
        Raw Material Assistance Scheme
    </mat-card-title><br/>
    <mat-card-subtitle>
     <i>  National Small Industries Corporation (Ministry of Micro, Small and Medium Enterprises)</i>
     <p>   Raw Material Assistance Scheme aims at helping MSMEs by way of financing the purchase of Raw Material (both indigenous & imported). This gives an opportunity to MSMEs to focus better on manufacturing quality products.    
    </mat-card-subtitle>
</mat-card>