<mat-card class="card-container">
    <mat-card-title class="box"><h1>HOME LOAN</h1></mat-card-title>
    <mat-card-subtitle class="ntline">Your dream home not far away!
        <br/>We will make your dream comes true.
    </mat-card-subtitle>
</mat-card>
<div class="pl-data">
    <br/>
    <div>
    A home/housing loan, also known as a mortgage, is an amount of money borrowed by an individual, usually from banks and companies that lend money. The borrower has to pay back the loan amount with interest in Easy Monthly Instalments or EMI's over a period of time that can vary between 10-30 years depending on the nature of the loan.
    </div>
<p>
        <h4>CHOOSE A HOME LOAN THAT SUITS YOUR NEEDS</h4>
        There are different kinds of home loans options that are made to suit each unique situation. You can take home loans to buy properties that are either commercial or personal in nature.
        Here are some of the different kinds of home loans you can take.
        <div>
            <ol>
                <li>Home Purchase Loan - You can buy any house or home that is within your budget.</li>
                <li>Construction Home Loan – You can use this loan to cover the costs of building a house.</li>
                <li>Land Purchase Loan - You can use this loan to buy a piece of land.</li>
                <li>Home Improvement Loan – You can use this loan to renovate and improve your house.</li>
                <li>Home Repair Loan – Pay for the cost of repair and restoration of your home.</li>
                <li>Home Extension Loan – Increase the amount of built up space at your home using this loan.</li>
        </ol>
        </div>
    <div>
        <h4>TAX SAVING THROUGH HOME LOANS</h4>
        <p>Interest charged on home loans is tax deductible, meaning you can claim the expenses when you are filing income tax.</p>
    </div>
    <div>
        <h4>IMPORTANT FACTORS TO CONSIDER WHEN APPLYING FOR A HOME LOAN</h4>
        <p><b>Principal</b>
        <p>This is the amount of money you will be borrowing from the bank or financial institution.
        <p><b>Duration</b>
        <p>How long you will be paying back the loan. Depending on the nature of your expected income, you can select a period that suits you.
        <p><b>Interest</b>
        <p>The bank or financial institution charges interest in exchange for its money lending services. The rate of interest is dependent on the amount of the principal and the duration for which you will be repaying the loan.
        <p><b>EMI Amount</b>
        <p>You will be paying monthly instalments for the duration of your borrowing, until the end of the loan period. Each EMI is a combination of principal + interest. With each EMI, you will be paying back more of the principal and costs of interest will gradually reduce.
    </div>
    <br/>
</div>