<mat-card class="card-container">
    <mat-card-title><b>About Us</b></mat-card-title>
    <mat-card-subtitle class="ntline">Who we are? What we do?</mat-card-subtitle>
    
    <p><b>LOAN EPIC </b>is a mission to provide support to the Micro, Small and Medium Enterprises when they need it the most. More than 5.5 crore MSMEs in India contribute to almost 8% of the economy and 28% of total employment. 
        <p>With “Make in India” program of Govt. of India, the contribution of MSMEs to the economy is poised to double by 2020. 
        <p>Most of these units do not get adequate financial assistance from the formal financial sector since almost 90% of them are in the unorganized segment. Our objective is to serve these MSMEs by providing them finance at the right time through swift and transparent processes.
        
        <p><b>We are </b>
        <ul><li>a Non-Banking Finance Company (NBFC – Type 2) situated in Noida.</li>
        <li>a team of motivated and passionate bankers with over 70 years of combined experience in MSME lending</li>
        <li>a fusion of traditional lending approach and cutting-edge technology</li>
        <li>using the modern day analytical tools and data science to converge multiple data points for assessing the creditworthiness of small businesses with or without past credit history</li>
        <li>currently serving you through our three offices situated in Delhi NCR, Uttar Pradesh</li>
        </ul>
        <p> We promise our customers and our partners industry defining innovation with convenience, flexibility, transparency and security.
        </mat-card>