<mat-card class="card-container">
    <mat-card-title class="title"><h1>PERSONAL LOAN</h1></mat-card-title>
    <mat-card-subtitle class="ntline">Your dreams are not far away!<br/>
    We understand your requirement.</mat-card-subtitle>
</mat-card>
<div class="pl-data">
    <br/>
    <div>
    A personal loan is a loan that does not require collateral or security and is offered with minimal documentation. 
    <p>You can use the funds from this loan for any legitimate financial need. Like any other loan, you must repay it accordance to the agreed terms with the bank.
    Normally this can include a few months to a few years in easy equated monthly instalments.</p>
    </div>
    <h4>What is a personal loan used for?</h4>
    <div>You are free to use the funds you get from a personal loan any way you wish – fund a holiday, buy a gadget, pay for medical treatment, use on home renovation, spend on a wedding, finance your children’s education, etc.
    </div>
    <h4>How do personal loans work?</h4>
    <div>A personal loan works pretty much the same way as most loans. You apply for a loan, submit the documents, the bank checks your credit worthiness and makes a loan offer. If you accept it, the funds are transferred to your bank account, and you can use them any way you like.
    
    <p>You must repay the loan in equated monthly instalments (EMI), which will depend on factors such as loan amount, tenure and interest rate.
    </p></div>
    <h4>What about interest rates, tenure etc?</h4>
    <div><ul>
    <li><b>
    Interest rates on personal loans:</b> Interest rates can range will depend on your credit history, tenure, income, occupation etc. The rates are fixed and not floating rate.</li>
    <li><b>How to get a personal loan: </b>Getting a personal loan from HDFC Bank is easy, especially if you have your documents are in order and you have a good credit track record. It helps if you are an existing customer. You can apply for a loan via NetBanking, on the HDFC Bank website, at an ATM, or by visiting a branch near you.</li>
    <li><b>Tenure and repayment: </b>You can get a loan for a tenure that suits your needs. You must repay the loan in equated monthly instalments or EMIs in a fixed sum every month. The EMI will depend on the loan amount, tenure and interest rate. Call us now to check your eligibility.</li>
    </ul>
    <p>A personal loan is the best solution for any financial requirement. So what are you waiting for? Apply for a personal loan now!
    </div>
    <div>

    </div>
    <div>

    </div>
    <br/>
</div>