<mat-card class="card-container">
    <mat-card-title class="title"><h1>BUSINESS LOAN</h1></mat-card-title>
    <mat-card-subtitle class="ntline">Planning for new venture or expansion!
        <br/>We are here to assist you.
    </mat-card-subtitle>
</mat-card>
<div class="pl-data">
    <br/>
    <div>
    <b>Business loans help raise capital for expanding a business and starting a new company. Read on to learn how to get a business loan</b>

    <p>Growth is imperative for a business. Without increasing revenue and profit, a business cannot survive in this competitive climate. From innovative solutions to performance marketing, there are many ways to increase revenue. But sizeable capital is required to do all that.

    <p>The best way to fund such plans is through a business loan from lending institutions, such as IDFC FIRST Bank. There are multiple categories of business loans available in India, each of which is suited for a specific situation.
    </div>
    <div>
        <h4>What is a business loan?</h4>

        <p>Banks and non-banking financial companies (NBFCs) in India offer unsecured business loans. The major goal is to meet the immediate needs of an expanding company. Most financial institutions provide term and flexi loans to meet a company's commercial needs. Commercial loans are another name for business loans. These loans are available to sole proprietors, privately held companies, partnership firms, self-employed persons, and shopkeepers.
    </div>
    <div>
        <h4>What are the different types of business loans?</h4>
        <p>Here are some common types of business loans you can get:</p>
    </div>
    <div><ol>
        <li><b>Term Loan</b>
        <p>A term loan is a common type of business financing. The loan could be secured or unsecured. The amount accessible is determined by the credit history of the company, while the term ranges from 1 to 5 years for unsecured business loans and up to 15 to 20 years for secured company loans. A term loan is mostly used for capital expenditures. The authorised funds are disbursed in one lump sum by the lender.</li>
        <li><b>Start-up Loan</b>
        <p>A start-up loan is intended for building businesses. Due to lack of business experience, applicants for such loans may not have a strong credit history. As a result, the lender factors in the borrower's personal credit history and the company's credit record when determining the loan's application. Turnover data and other factors are also considered when determining the loan amount, term, and interest rate. The company must be set up and running, and the applicant must provide evidence of its existence and licensing.</li>
        <li><b>Working Capital Loan</b>
        <p>Working capital loans are small business loans used to cover the shortfall in cash needed to run a business. It creates the essential cash flow balance to run a business. This loan can cover a cash shortage during the off-season or to meet consumer needs during busy seasons. Service providers, producers, distributors, merchants, and traders involved in exports and imports commonly avail of working capital loans.</li>
    </ol></div>
    <br/>
</div>