<mat-card class="ser-container">
    <mat-card-title class="title"><h1>LOAN EPIC SERVICES</h1></mat-card-title>
    <mat-card-subtitle class="subtitle">FOR ALL YOUR LIFE NEEDS!</mat-card-subtitle>
    </mat-card>
<mat-grid-list cols="3" rowHeight="100px" gutterSize="5px"  >
    <mat-grid-tile><mat-grid-tile-header>
        <a href="/home" target="_self"><b>Personal Loan</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 11% onwards</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Home Loan</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 6.75% onwards</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Business Loan</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>Upto 200 Lacs</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Loan Against Property (LAP)</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 6.75% || LTV Upto 100%</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>CC Limit</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 6.75% || LTV Upto 200% of Property Value</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Overdraft - OD Limit</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 6.75%</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Raw Material Funding</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 9% onwards</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Project Finance</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>From PSU & Private Banks</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>CGTMSE Govt. Scheme</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>Unsecured Loan upto 2 Cr</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Channel Financing and Bill Discounting</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>Any Amount</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Lease Rental Discounting</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 6.75% onwards</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Limit Against Unutilized BG</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>Any Amount - Sanctioned within 3 days</mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
