<marquee direction="left" style="font-family: Rajdhani, sans-serif; color: #FFFFFF" bgcolor="#00224f" scrolldelay="100" behavior="loop">
For loan related queries call on +91 9911465700, +91 9717466591 or fill the form below.
</marquee>

<mat-card class="card-container" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
    <mat-card-title class="title"><h1>LOAN EPIC SERVICES</h1></mat-card-title><br/>
    <mat-card-subtitle class="ntline"><i>Get Higher Loan Value ROI- 6.9% & LTV- 200%
        <br/>Get Secured CC, OD, BG, Term Loan
    </i></mat-card-subtitle>
</mat-card>
<marquee direction="left" style="font-family: Rajdhani, sans-serif; color: #FFFFFF" bgcolor="#00224f" scrolldelay="100" behavior="loop">
    Get Fast Funding and Highest Payout. Join us!
    </marquee>
<mat-grid-list cols="3" rowHeight="100" gutterSize="5px" class="service-grid" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
<br/>
    <mat-grid-tile rowspan="6">
        <app-applynow></app-applynow>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Personal Loan</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 11% onwards</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Home Loan</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 6.75% onwards</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Business Loan</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>Upto 200 Lacs</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Loan Against Property (LAP)</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 6.75% || LTV Upto 100%</mat-grid-tile-footer>>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>CC Limit</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 6.75% || LTV Upto 200% of Property Value</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Overdraft - OD Limit</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 6.75%</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Raw Material Funding</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 9% onwards</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Project Finance</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>From PSU & Private Banks</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>CGTMSE Govt. Scheme</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>Unsecured Loan upto 2 Cr</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Channel Financing and Bill Discounting</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>Any Amount</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Lease Rental Discounting</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>ROI @ 6.75% onwards</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile><mat-grid-tile-header>
        <a href="" target="_self"><b>Limit Against Unutilized BG</b></a></mat-grid-tile-header>
        <mat-grid-tile-footer>Any Amount - Sanctioned within 3 days</mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>